# Ignore node_modules
node_modules/

# Ignore environment variable files
.env


# Ignore log files
*.log

# Ignore temporary build directories
.next/
out/

# Ignore Vercel deployment output
.vercel/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor-specific files
.vscode/
.idea/

# Ignore package-lock.json or yarn.lock (optional, depends on your preference)
# package-lock.json
# yarn.lock

